
<div class="row" ng-controller="myController as mc">
    <div class="col-md-12">

        <world-map-directive map-data="mc.locationData" ready="mc.ready" map-options="mc.mapOptions"> </world-map-directive>

    </div>
</div>