body {
    padding-top: 100px;
    padding-bottom: 20px;
    position:relative;
}
svg {
	width: 100%;
	height: 100%;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 200px;
    padding-right: 15px;
}

 .legend {
    font-size: 12px;
  }
  rect {
    stroke-width: 2;
  }

 .slice text {
            font-size: 12pt;
            font-family: Arial;
        }
 text {
  font: 12px sans-serif;
}   

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 350px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}